{% extends "base.html" %}

{% block content %}
  <h1>Restaurants</h1>
  
  <div class="d-flex flex-wrap justify-content-between align-items-end">
    <form method="get" class="form-inline">
      <div class="form-group mt-2 mb-3">
          <label for="location" class="sr-only">Location:</label>
          <select name="location" id="location" class="form-control">
              <option value="">All Locations</option>
              {% for location in locations %}
              <option value="{{ location }}" {% if request.GET.location == location %}selected{% endif %}>{{ location }}</option>
              {% endfor %}
          </select>
      </div>

      <div class="form-group mx-sm-3 mt-2 mb-3">
          <label for="cuisine" class="sr-only">Cuisine:</label>
          <select name="cuisine" id="cuisine" class="form-control">
              <option value="">All Cuisines</option>
              {% for cuisine in cuisines %}
              <option value="{{ cuisine }}" {% if request.GET.cuisine == cuisine %}selected{% endif %}>{{ cuisine }}</option>
              {% endfor %}
          </select>
      </div>
      
      <button class="btn btn-light mt-2 mb-3" type="submit">Filter</button>
    </form>

    <a href="{% url 'add_restaurant' %}" class="btn btn-light mt-2 mb-3">+ Add</a>
  </div>

  <ul>
    {% for restaurant in restaurants %}
      <li class="my-2">
        <a class="icon-link icon-link-hover" href="{% url 'restaurant-detail' restaurant.id %}">
          {{ restaurant.name }}
        </a>
      </li>
    {% endfor %} 
  </ul>

  <div class="pagination mt-4 ml-2">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="mr-4">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="ml-4">next</a>
        {% endif %}
    </span>
  </div> 

{% endblock %}
