<!-- restaurants/templates/restaurants/list.html -->
{% extends "base.html" %}

{% block content %}
  <h1>Restaurants</h1>
  
  <form method="get">
    <label for="location">Location:</label>
    <select name="location" id="location">
        <option value="">All Locations</option>
        {% for location in locations %}
        <option value="{{ location }}" {% if request.GET.location == location %}selected{% endif %}>{{ location }}</option>
        {% endfor %}
    </select>
    
    <label for="cuisine">Cuisine:</label>
    <select name="cuisine" id="cuisine">
        <option value="">All Cuisines</option>
        {% for cuisine in cuisines %}
        <option value="{{ cuisine }}" {% if request.GET.cuisine == cuisine %}selected{% endif %}>{{ cuisine }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Filter</button>
  </form>

  <ul>
    {% for restaurant in restaurants %}
      <li>
        <a href="{% url 'restaurant-detail' restaurant.id %}">{{ restaurant.name }}</a>
      </li>
    {% endfor %}

    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">next</a>
          {% endif %}
      </span>
    </div>  

  </ul>
{% endblock %}
